@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
:root {
    --branco: #ffffffff;
    --azul1: #005ba1ff;
    --amarelo: #fdc800ff;
    --azul2: #013b61ff;
    --azul3: #00293fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #fff;
}

body{
    height: 100vh;
    background-image: ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: var(--azul3);
    padding: 5px 0px 0px 5px;
    box-shadow: 3px 0 0 var(--amarelo);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    align-items: center;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: var(--amarelo);
    border-radius: 5px 0px 0px 5px;
}

ul li.item-menu:hover{
    background: var(--amarelo);
    border-radius: 5px 0px 0px 5px;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 10px;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

/* HEADER */

header{
    background-color: var(--azul3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
}

header img{
    margin-left: 100px;
}

header img#pucrs{
    height: 40px;
}

/* MAIN */
main{
    display: block;
    width: 80%;
}
.texto h1, p{
    color: black;
}